<div class="form-group required">
  <%= label_tag 'listing_name', "Name", class: 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= text_field_tag 'listing[name]', @listing.name, :required => true, class: 'form-control', id: 'listing_name' %>
  </div>
</div>