Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFejCCBGKgAwIBAgIQcZJatf3v7AlzU5Q0Jj8+mjANBgkqhkiG9w0BAQsFADBC
      MQswCQYDVQQGEwJVUzEWMBQGA1UEChMNR2VvVHJ1c3QgSW5jLjEbMBkGA1UEAxMS
      UmFwaWRTU0wgU0hBMjU2IENBMB4XDTE2MDUwMzAwMDAwMFoXDTE3MDYwMjIzNTk1
      OVowHTEbMBkGA1UEAwwSKi5yZWhhYnJldmlld3MuY29tMIIBIjANBgkqhkiG9w0B
      AQEFAAOCAQ8AMIIBCgKCAQEA63WNUP9YSezDmJVWIZQ2UcVtLvjqj510UQNQDqcX
      LU+jvnkQmeZ6ioLHb+qq5BT8nKy3WFyYprFsK2NxWLATPOR0tyM7fBjGIFdz9wqC
      8MsdvS1W1eCf+zNtmo1MI0fiHSApJzIl515THnDCZbK18aY89TIAujrl+22TN78a
      C/twb934wMhIKlbPru2vLlnElTXEFxHXldxayTq/xGtEWxhFkbnDXZLJbL+bZv2X
      c8s0pDptrRnVcm0zpcjiAjnI2J99rLPH1lGmb81V+mp1J6fGno73tlF5gWHIyJTG
      ciCjmaNgjKC9EPlYj08e5cJSRhDc+qXJEDfsoM9p6LIqUQIDAQABo4ICjzCCAosw
      LwYDVR0RBCgwJoISKi5yZWhhYnJldmlld3MuY29tghByZWhhYnJldmlld3MuY29t
      MAkGA1UdEwQCMAAwKwYDVR0fBCQwIjAgoB6gHIYaaHR0cDovL2dwLnN5bWNiLmNv
      bS9ncC5jcmwwbwYDVR0gBGgwZjBkBgZngQwBAgEwWjAqBggrBgEFBQcCARYeaHR0
      cHM6Ly93d3cucmFwaWRzc2wuY29tL2xlZ2FsMCwGCCsGAQUFBwICMCAMHmh0dHBz
      Oi8vd3d3LnJhcGlkc3NsLmNvbS9sZWdhbDAfBgNVHSMEGDAWgBSXwidQnsLJ7AyI
      Msh8reKmAU/abzAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEG
      CCsGAQUFBwMCMFcGCCsGAQUFBwEBBEswSTAfBggrBgEFBQcwAYYTaHR0cDovL2dw
      LnN5bWNkLmNvbTAmBggrBgEFBQcwAoYaaHR0cDovL2dwLnN5bWNiLmNvbS9ncC5j
      cnQwggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdgDd6x0reg1PpiCLga2BaHB+Lo6d
      AdVciI09EcTNtuy+zAAAAVR1ZljfAAAEAwBHMEUCIBw51O/f8PmUQoE4HJ9hvDgW
      l/sDqjRLLBAcgUNBcKRdAiEAjoPJk+iUQHc4E5krqorxiY/X9fZW4TCT0uTl6LQJ
      fQEAdgCkuQmQtBhYFIe7E6LMZ3AKPDWYBPkb37jjd80OyA3cEAAAAVR1ZlkXAAAE
      AwBHMEUCIBWxRMR/77C+IVcFISlVVZMsZeGzHWt5a3dGUXqCRnW1AiEA/DLqziAE
      r56vYtSGHo61xC1JPCFGECFkIl1Ik1O4vC0wDQYJKoZIhvcNAQELBQADggEBAFDi
      rhuj4Hr/o0mnuH2OdfXMTKjWKHjbfXNtKaRAdCLSJVsownLUjivWnHPY/H1Lzz+w
      52+ZbQppd02sU3Gi/uQ/3IJz29XoddyxH3q646pROh0Xbo1WdjDWtPqxfx5KnksR
      SopD7f3EP0ZWhw7WRiV9G7PgWAUso9kqcXk+IuybKF/fh0lUZL5Zh9FyU+MnlPpl
      Ie82MppgvnMY2U87b8Qf6TG2Rbiw1ti6vC6pGYSIl5E6qyqY44aM0MdWQRghPr9g
      e1x9zhuris5v9vBRzB49vBaljyi4jYCpqR+pATb0iaAW6Rs3RDjyuWqnqEcKg7w/
      JkzCO3WF4I0JgHTgHzQ=
      -----END CERTIFICATE-----

      -----BEGIN CERTIFICATE-----
      MIIETTCCAzWgAwIBAgIDAjpxMA0GCSqGSIb3DQEBCwUAMEIxCzAJBgNVBAYTAlVTMRYwFAYDVQQK
      Ew1HZW9UcnVzdCBJbmMuMRswGQYDVQQDExJHZW9UcnVzdCBHbG9iYWwgQ0EwHhcNMTMxMjExMjM0
      NTUxWhcNMjIwNTIwMjM0NTUxWjBCMQswCQYDVQQGEwJVUzEWMBQGA1UEChMNR2VvVHJ1c3QgSW5j
      LjEbMBkGA1UEAxMSUmFwaWRTU0wgU0hBMjU2IENBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
      CgKCAQEAu1jBEgEul9h9GKrIwuWF4hdsYC7JjTEFORoGmFbdVNcRjFlbPbFUrkshhTIWX1SG5tmx
      2GCJa1i+ctqgAEJ2sSdZTM3jutRc2aZ/uyt11UZEvexAXFm33Vmf8Wr3BvzWLxmKlRK6msrVMNI4
      /Bk7WxU7NtBDTdFlodSLwWBBs9ZwF8w5wJwMoD23ESJOztmpetIqYpygC04q18NhWoXdXBC5VD0t
      A/hJ8LySt7ecMcfpuKqCCwW5Mc0IW7siC/acjopVHHZDdvDibvDfqCl158ikh4tq8bsIyTYYZe5Q
      Q7hdctUoOeFTPiUs2itP3YqeUFDgb5rE1RkmiQF1cwmbOwIDAQABo4IBSjCCAUYwHwYDVR0jBBgw
      FoAUwHqYaI2J+6sFZAwRfap9ZbjKzE4wHQYDVR0OBBYEFJfCJ1CewsnsDIgyyHyt4qYBT9pvMBIG
      A1UdEwEB/wQIMAYBAf8CAQAwDgYDVR0PAQH/BAQDAgEGMDYGA1UdHwQvMC0wK6ApoCeGJWh0dHA6
      Ly9nMS5zeW1jYi5jb20vY3Jscy9ndGdsb2JhbC5jcmwwLwYIKwYBBQUHAQEEIzAhMB8GCCsGAQUF
      BzABhhNodHRwOi8vZzIuc3ltY2IuY29tMEwGA1UdIARFMEMwQQYKYIZIAYb4RQEHNjAzMDEGCCsG
      AQUFBwIBFiVodHRwOi8vd3d3Lmdlb3RydXN0LmNvbS9yZXNvdXJjZXMvY3BzMCkGA1UdEQQiMCCk
      HjAcMRowGAYDVQQDExFTeW1hbnRlY1BLSS0xLTU2OTANBgkqhkiG9w0BAQsFAAOCAQEANevhiyBW
      lLp6vXmp9uP+bji0MsGj21hWID59xzqxZ2nVeRQb9vrsYPJ5zQoMYIp0TKOTKqDwUX/N6fmS/Zar
      RfViPT9gRlATPSATGC6URq7VIf5Dockj/lPEvxrYrDrK3maXI67T30pNcx9vMaJRBBZqAOv5jUOB
      8FChH6bKOvMoPF9RrNcKRXdLDlJiG9g4UaCSLT+Qbsh+QJ8gRhVd4FB84XavXu0R0y8TubglpK9Y
      Ca81tGJUheNI3rzSkHp6pIQNo0LyUcDUrVNlXWz4Px8G8k/Ll6BKWcZ40egDuYVtLLrhX7atKz4l
      ecWLVtXjCYDqwSfC2Q7sRwrp0Mr82A==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDrdY1Q/1hJ7MOY
      lVYhlDZRxW0u+OqPnXRRA1AOpxctT6O+eRCZ5nqKgsdv6qrkFPycrLdYXJimsWwr
      Y3FYsBM85HS3Izt8GMYgV3P3CoLwyx29LVbV4J/7M22ajUwjR+IdICknMiXnXlMe
      cMJlsrXxpjz1MgC6OuX7bZM3vxoL+3Bv3fjAyEgqVs+u7a8uWcSVNcQXEdeV3FrJ
      Or/Ea0RbGEWRucNdkslsv5tm/ZdzyzSkOm2tGdVybTOlyOICOcjYn32ss8fWUaZv
      zVX6anUnp8aejve2UXmBYcjIlMZyIKOZo2CMoL0Q+ViPTx7lwlJGENz6pckQN+yg
      z2nosipRAgMBAAECggEBANqP+adv/uJQFpfyN0tgKrPo0RrDD+hTvf7dVljjnU4A
      GPzboB9bo/AiyUIH0K17FanRYTdybHh/ROtZmYM7nf/uCLFe0P62eGLZCtoMNdOS
      l35dMbfClH43FMxb0IsHVMq4abrqf+iu0/Tzsl94bg9rwjXQPoCf349t/TPH/kOT
      UL5+3WW6t2FkA2dY27gLnqFN94cNQ1T9SekYlKKH7KZL3pEX+TgL0D9Z0sDk8dkN
      IQzzklbbGvCGaPi6EB+yFCAwPCewyjk0Le9rnAIC2QFwfGsdTUoIlWpxWD8ilCA6
      dYQw3k94V7sdB2C9nzhuhjXAdjMvm+536qrVj43WlOECgYEA+lfHNrinpBL5MmLF
      CdkjDhyD4oButF/zsVJ2nsE26odnz+TMuNh+5dBpqdP+/bh/h5ef5dXm5gp6YtHf
      hJS05z7cFKCg0b0xmN6KUhbZPCyWVsezhBPSLRJWZDHUeBcwqlHXz1ltsZNKAr5T
      ixh3tM/ktv+ChFYJEmqMYTiZS4UCgYEA8MesH49i2QNHRiyWhElXTnMwI8UxcqsR
      9zIYWBN0QFDnz3LXq7FaC+ljFuxEmsRQVpRQiX8xCthK6Wg6frUBtG/5gljV6NWB
      r60lpQEwcFEnE23y2xmFkjFKYul41EOp6ssODeDZ4q6wqbYhYBVPq6z37NXjSF8I
      3Vkc7E98P10CgYEAucGqU2NfGTLu78E0PaN+DHmCLu5ntrXACGKNHC14Rzwj/rHi
      aoJSXspvrRFeEvv0vTL39b3rb+R0faEHPsRtG22cNj4eNqMxCyKN9m130duvzkKu
      ZKGkgccqjXwgEN/8P1UtUnEkIPCOqUx6hyqnoGXmaxdazEFex+iBs54guVUCgYEA
      7EPCDiXw5OlmouFVwPEGjqBQ+IijANYEhv/NC3/rbsD09obGQl+A8HdPGEs29nb0
      LkDS1ljMksuyll4EKBkNVzUZLGJnZFU9MFlCuyrzkQLQySv2RjBA9TcQuwZF3mOW
      9CHT5KJiqyCnkaB6F4JR7y+HCArJP1ahqDGtQ+SrErECgYBiozDeiE/hBMbJW4yt
      zdIcXoWjZpKTR8VF6MO9eVKva4VcBtQG2vIb3PF5rpdntPYP8SSxeuYi55ehnwGB
      NIW7PWhxo8Wmv6cE7QiyjH4aTF0xwrE6biyvHX5BsuiFhRZKOp0xKGf8R30QHecB
      3xtbngvwxRh2f9iW6i8M9XsYrA==
      -----END PRIVATE KEY-----

  /etc/nginx/nginx.conf:
    mode: "000400"
    owner: root
    group: root
    content: |
      # Elastic Beanstalk Nginx Configuration File

      user  nginx;
      worker_processes  auto;

      error_log  /var/log/nginx/error.log;

      pid        /var/run/nginx.pid;

      events {
        worker_connections  1024;
      }

      http {
        include	  /etc/nginx/mime.types;
        default_type  application/octet-stream;

        access_log    /var/log/nginx/access.log;

        log_format  healthd '$msec"$uri"$status"$request_time"$upstream_response_time"$http_x_forwarded_for';

        include	  /etc/nginx/conf.d/*.conf;
        include	  /etc/nginx/sites-enabled/*;

        proxy_connect_timeout       600;
        proxy_send_timeout          600;
        proxy_read_timeout          600;
        send_timeout                600;
      }
