<h1>New Signup</h1>
<p>Heads up, a new member signed up on RehabReviews.com</p>

<p><strong>Name:</strong> <%= @member.first_name %> <%= @member.last_name %></p>
<p><strong>Email:</strong> <%= @member.email %></p>

<p><%= link_to "Click to View/Edit Member", edit_member_registration_url(@member) %></p>