<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Cities</h2>
  </div>
  <div class="panel-body">
    <%= link_to "Create New City", new_admin_city_path %><br>
    <%= link_to "Index of City", admin_cities_path %><br>
  </div>
</div>
