<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a id="city_info_expand" data-toggle="collapse" data-target="#city_info" href="#">City Information</a></h4>
    <script>
      $('#city_info_expand').on('click', function(e) {
        e.preventDefault();
      });
    </script>
  </div>
  <div id="city_info" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="form-group required">
        <%= f.label :name, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :name, :required => true, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group required">
        <%= f.label :state_id, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.collection_select(:state_id, @states, :id, :name, {selected: @city.state_id}, {class: 'form-control'}) %>
        </div>
      </div>
      <p class="required-message strong text-right"><span class="red">*</span> Denotes a required field.</p>
    </div>
  </div>
</div>
