<% if !amp_renderable? %>
<style>
  <style>
  .insurance-benefits-check-embedded {
      font-size: 15px;
      font-family: 'Droid Sans', sans-serif;
  }
  .insurance-benefits-check-embedded button,
  .insurance-benefits-check-embedded input,
  .insurance-benefits-check-embedded optgroup,
  .insurance-benefits-check-embedded select,
  .insurance-benefits-check-embedded textarea {
      color: inherit;
      font: inherit;
      margin: 0;
  }
  .insurance-benefits-check-embedded button,
  .insurance-benefits-check-embedded select {
      text-transform: none;
  }
  .insurance-benefits-check-embedded input,
  .insurance-benefits-check-embedded textarea,
  .insurance-benefits-check-embedded select {
      max-width: 100%;
      width: auto;
  }
  .insurance-benefits-check-embedded input[type="radio"],
  .insurance-benefits-check-embedded input[type="checkbox"] {
      margin: 4px 0 0;
      margin-top: 1px \9;
      line-height: normal;
  }
  .insurance-benefits-check-embedded .radio input[type="radio"],
  .insurance-benefits-check-embedded .radio-inline input[type="radio"],
  .insurance-benefits-check-embedded .checkbox input[type="checkbox"],
  .insurance-benefits-check-embedded .checkbox-inline input[type="checkbox"] {
       position: absolute;
       margin-left: 0;
       margin-top: 0;
       margin-top: 4px \9;
  }
  .insurance-benefits-check-embedded .radio label,
  .insurance-benefits-check-embedded .checkbox label {
       min-height: 21px;
       padding-left: 20px;
       margin-bottom: 0;
       font-weight: normal;
       cursor: pointer;
  }
  .insurance-benefits-check-embedded label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
  }
  .insurance-benefits-check-embedded label span.form-required {
      color: #f00;
  }
  .insurance-benefits-check-embedded .form-item.webform-component {
      padding-bottom: 1em;
  }
  .insurance-benefits-check-embedded .form-item.webform-component .form-email,
  .insurance-benefits-check-embedded .form-control {
      display: block;
      width: 100%;
      height: 35px;
      padding: 6px 12px;
      font-size: 15px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .insurance-benefits-check-embedded .btn {
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 15px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .insurance-benefits-check-embedded .btn-primary {
      color: #fff;
      background-color: #565656;
      border-color: #494949;
  }
  /* First / last name styles */
  .insurance-benefits-check-embedded .name-container div {
      float: left;
      width: 48%;
  }
  .insurance-benefits-check-embedded .webform-component--first-name {
      margin-right: 4%;
  }
  /* Balloon styles */
  .insurance-benefits-check-embedded .balloon {
      display: block; font-size: 12px; font-weight: normal; color: #333333;
  }
  .insurance-benefits-check-embedded .balloon .info-icon { position: relative; display: inline-block; vertical-align: top;
      cursor: default; }
  .insurance-benefits-check-embedded .balloon .info-icon:hover:after,
  .insurance-benefits-check-embedded .balloon .info-icon.open:after { top: 0; left: 50%;
      border: solid transparent; content: " "; height: 0; width: 0;
      position: absolute; pointer-events: none; margin-top: -8px; margin-left: -10px;
      border-top-color: #CCCCCC; border-width: 10px; }
  .insurance-benefits-check-embedded .balloon .info-icon .info-text-help { display: none; }
  .insurance-benefits-check-embedded .balloon .info-icon:hover .info-text-help,
  .insurance-benefits-check-embedded .balloon .info-icon.open .info-text-help { display: inline-block; vertical-align: top;
      position: absolute; bottom: 25px; left: -180%; width: 220px; padding: 10px;
      z-index: 10;
      background-color: #FFFFFF; border: 1px solid #CCCCCC; color: #000; }
  .insurance-benefits-check-embedded .balloon.top .info-icon { font-size: 12px; font-weight: bold; }
  .insurance-benefits-check-embedded .balloon.top .info-icon:hover .info-text-help,
  .insurance-benefits-check-embedded .balloon.top .info-icon.open .info-text-help { top: 100%; bottom: auto; right: auto; left: -20px;
      width: 220px; font-weight: normal; }
  .insurance-benefits-check-embedded .balloon.top .info-icon:hover:after,
  .insurance-benefits-check-embedded .balloon.top .info-icon.open:after{ top: 100%; margin-top: -20px;
      border-bottom-color: #CCCCCC; border-top-color: transparent; }
  #ins-benefits-check-icon {
    display: inline-block;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    vertical-align: baseline;
    border-radius:20px;
    position: relative;
    top: -3px;
    height: 20px;
    width: 20px;
    padding: 0px;
    line-height: 20px;
    border-radius: 100%;
    border: 1px solid #59946b;
    color: #59946b;
    font-weith:bold;
    background: none!important;
  }
  .float-icon-right{float:right;}
</style>
<% end %>
<div class='insurance-benefits-check-embedded float-icon-right'>
  <p class="balloon top" id="ins-benefits-check-balloon">
    <span class="info-icon" id="ins-benefits-check-icon">i<span class="info-text-help">Some rehabilitation facilities paid for preferred placement in this section.</span></span>
  </p>  
</div>