<div class="find-by-name">
  <div class="find-by-name-list">
    <span class="find-by">Find Rehabs by Name</span>
    <a href="alpha/rehabs/a">A</a>
    <a href="alpha/rehabs/b">B</a>
    <a href="alpha/rehabs/c">C</a>
    <a href="alpha/rehabs/d">D</a>
    <a href="alpha/rehabs/e">E</a>
    <a href="alpha/rehabs/f">F</a>
    <a href="alpha/rehabs/g">G</a>
    <a href="alpha/rehabs/h">H</a>
    <a href="alpha/rehabs/i">I</a>
    <a href="alpha/rehabs/j">J</a>
    <a href="alpha/rehabs/k">K</a>
    <a href="alpha/rehabs/l">L</a>
    <a href="alpha/rehabs/m">M</a>
    <a href="alpha/rehabs/n">N</a>
    <a href="alpha/rehabs/o">O</a>
    <a href="alpha/rehabs/p">P</a>
    <a href="alpha/rehabs/q">Q</a>
    <a href="alpha/rehabs/r">R</a>
    <a href="alpha/rehabs/s">S</a>
    <a href="alpha/rehabs/t">T</a>
    <a href="alpha/rehabs/u">U</a>
    <a href="alpha/rehabs/v">V</a>
    <a href="alpha/rehabs/w">W</a>
    <a href="alpha/rehabs/x">X</a>
    <a href="alpha/rehabs/y">Y</a>
    <a href="alpha/rehabs/z">Z</a>
  </div>
</div>