<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= current_member.full_name %></h2>
  </div>
  <div class="panel-body">
    <%= link_to "Edit Profile", profile_path %><br>
    <%= link_to "Sign Out", logout_path %>
  </div>
</div>
