<% meta title: "Listings" %>

<%= render 'members/adminheader' %>
<%= render 'members/adminnav' %>
<div class="row">
  <div class="col-md-9">
    <%= render 'members/adminlistings' %>
  </div>
  <div class="col-md-3">
   <%= render 'members/membersidebar' %>
  </div>
</div>
